* {
}

body {
  margin: 0px;
  background-color: black;
  display: flex;
  flex-direction: column;
  color: #dddddd;
}

a {
  text-decoration: none;
  color: goldenrod;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
  color: yellow;
  /*TODO: transition*/
}

#content {
  padding-left: 10px;
  padding-right: 10px;
  flex-grow: 1;
  min-height: 100vh;
}

/*Navbar*/
#navbar {
  background-color: black;
  padding: 15px;
  display: flex;
  flex-direction: row;
}
.navbar-item {
  /*TODO: flex gap - so far using margin-right...*/
  margin-right: 15px;
}

/*FOOTER*/
/*TODO: place footer to the bottom of webpage*/
#footer {
  background-color: black;
  /*top, right, bottom, left*/
  padding: 15px 0px 15px 0px;
  color: goldenrod;
  width: 100%;
  margin-top: auto;
}
#footer > a {
  color: yellow;
}
.footer__content {
  padding-left: 15px;
}
/*INDEX*/
#webpage-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 42px;
}
/*DAILY PROPHET*/
.prophet__article {
  background: url("/static/images/pergamen.jpg");
  /*top, right, bottom, left*/
  padding: 50px 0px 50px 0px;
  margin: 25px;
  border-radius: 12px;
  color: #222222;
}
.prophet__publisher {
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  min-height: 125px;
  display: grid;
  grid-template-columns: 155px auto;
  grid-template-rows: 1fr;
  /*top, right, bottom, left*/
  /*margin: 0px 50px 50px 50px;*/
}

.prophet__publisher h1 {
  font-size: 82px;
  margin: 5px;
}
.prophet__publisher .title {
  grid-column: 2;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.prophet__text__heading {
  font-family: "EB Garamond", serif;
  padding: 0px 50px 0px 50px;
  font-variant-caps: all-small-caps;  
  font-size: 2em;
}
.prophet__text__paragraph {
  font-family: "EB Garamond", serif;
  padding: 0px 50px 0px 50px;
  font-size: 1.5em;
  text-align: justify;
}

.prophet__text__img__box {
  display: flex;
  justify-content: center;
  /*top, right, bottom, left*/
  margin: 0px 50px 0px 50px;
  /*TODO: Do we want gray-scale images?*/
  filter: grayscale(100%);
}

.prophet__text__img {
  width: 100%;
  height: auto;
}

.prophet__title {
  font-family: "Playfair Display SC", serif;
  text-align: center;
}

/*LOGS*/
.logs-dorm-1 {
  background-color: #23D0FF;
}
.logs-dorm-2 {
  background-color: #704AFF;
}
.logs-dorm-3 {
  background-color: #FF8417;
}
.logs-dorm-4 {
  background-color: #54E45B;
}
table {
  border: none;
  color: #222222;
}

.logs-cell {
  /*top, right, bottom, left*/
  padding: 5px;
  text-wrap: nowrap;
}
.logs-cell-points {
  /*top, right, bottom, left*/
  padding: 5px;
  text-wrap: nowrap;
  text-align: right;
}
.logs-cell-note {
  padding: 5px;
  width: 100%;
}
