<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Playfair+Display+SC:wght@900&family=Playfair+Display:ital,wght@0,800;1,800&family=Manrope:wght@800&display=swap" rel="stylesheet">
    <title>Hanousek</title>
    {% endblock %}
</head>
<body>
    <!--<div id="navbar">
        <a class="navbar-item" href="/">Home</a>
        <a class="navbar-item" href="/live">Live</a>
        <a class="navbar-item" href="/logs">Logs</a>
        <a class="navbar-item" href="/prophet">Prophet</a>
    </div>-->
    <div id="content">{% block content %}{% endblock %}</div>
    <!--<div id="footer">
      <div class="footer__content">
        {% block footer %}
        &copy; Copyright 2024 by <a href="https://tabory.hanousek.com/">Hanousek</a>.
        {% endblock %}
      <div>
    </div>-->
</body>
</html>
