<head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<div id="logs-chart">
  <canvas id="chart-container"></canvas>
  <div>
    <script>
      const ctx = document.getElementById('chart-container').getContext('2d');
      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: [{% for label in points.labels %}"{{label}}",{% endfor %}],
          datasets: [{
          data: [{% for sum in points.data %}"{{sum}}",{% endfor %}],
            backgroundColor: [
              {% for color in points.colors %}"{{color}}",{% endfor %}
              ],
            borderColor: 'rgba(255, 99, 132, 1)',
            borderWidth: 0
          }]
        },
        options: {
          title: {
            display: false,
          },
          plugins: { // removes legend
            legend: {
              display: false
            }
          }
        }
      });
    </script>
  </div>
</div>
