{# Declaring variables #}
{% set active = "Aktivni"%}
{% set title = "Nadpis"%}
{% set text = "Text"%}
{% set img = "ImgLink"%}

<div class="prophet">
  {% for article in prophet|sort(attribute=time)%}
  {% if article != {} %}
  <div class="prophet__article">
    <div class = "prophet__publisher">
        <img src="https://redonion.se/cssgrid/images/logo-shield155.png" alt="daily prophet logo">
        <div class="prophet__title">
          <h1>DENNÍ VĚŠTEC</h1>
          <div class="prophet__tagline">VÁŠ KOUZELNÝ PRŮVODCEM SVĚTEM ŠKOLY ČAR A KOUZEL V LETINECH</div>
        </div>
    </div>
    <h1 class="prophet__text__heading">{{article[title]}}</h1>
    <p class="prophet__text__paragraph">{{article[text]}} </p>
    <div class="prophet__text__img__box">
      <img class="prophet__text__img" src="https://lh3.googleusercontent.com/d/{{article[img]}}=s2200" alt="daily prophet img"/>
    </div>
  </div>

  {% endif %}
  {% endfor %}
<!--<div class="news-page">-->
<!--  <div class="news-page__section publisher">-->
<!--    <div class="logo-shield">-->
<!--      <img src="http://redonion.se/cssgrid/images/logo-shield155.png" alt="">-->
<!--    </div>-->
<!--    <div class="publisher_name">-->
<!--      <img src="http://redonion.se/cssgrid/images/logo-cleanup.svg" alt="">-->
<!--      <div class="tagline">THE WIZARD WORLD'S BEGUILING BROADSHEET OF CHOICE</div>-->
<!--    </div>-->
<!--  </div>-->
</div>
