{% extends "base.jinja.html" %}
{% block title %}Denní věštec{% endblock %}
{% block content %}
<div>
  <div id="webpage-title">
    <h1 > Škola čar a kouzel v Letinách</h1>
  </div>
  <div id="points-summary">
    <h2> Letinské bodování </h2>
    <div style="display:flex;">
      <div id="points-dorm" style="width: 50%;">
        <h3>Přehled kolejí </h2>
        <ul>
          <li><a href="/logs/1">1. oddil</a></li>
          <li><a href="/logs/2">2. oddil</a></li>
          <li><a href="/logs/3">3. oddil</a></li>
          <li><a href="/logs/4">4. oddil</a></li>
        </ul>
      </div>
      <div id="points-day" style="width: 50%;">
        <h3>Přehled dne </h2>
        <!--TODO: dodat dostupne dny-->
      </div>
    </div>
  </div>
  <div id="daily-prophet-add">
    <h2>Denní věštec </h2>
    <p>V rámci spolupráce s Denním věštcem jsme všem studentům zařídili předplatné. Deník je dostupný ve společenské místnosti.</p>
    <p>Pokud nestihnete naše minulá vydání nezoufejte, ve třetím patře pod schody jsme pro vás zřídili <a class="navbar-item" href="/prophet">archiv.</a></p>
  </div>
</div>
{% endblock %}
