<head>
    {# Auto refresh site every 300s = 5 min #}
    <meta http-equiv="refresh" content="60">
</head>
{% extends "base.jinja.html" %}
{% block title %}Live view{% endblock %}
{% block content %}
<div style="display:flex;">
  <div style="width: 45%">
    {% include "chart.jinja.html" %}
    {%include "logList-only.jinja.html" %}
  </div>
  <div style="width: 55%">
    {%include "dailyProphetList-only.jinja.html" %}
  </div>
</div>
{% endblock %}
