{# Declaring variables #}
{% set time = "CAS"%}
{% set point = "BODY"%}
{% set professor = "PROFESOR"%}
{% set note = "POZNAMKA"%}
{% set dorm = "KOLEJ"%}
{% set group = "ODDIL"%}

<div id="logs-points-list">
  <h1>Letinské bodování kolejí </h1>
  <table cellspacing="0" cellpadding="0">
    <!-- <thead>
      <tr>
        {% for tableTitle in ["Čas", "Kolej", "Body", "Profesor", "Poznámka"]%}
        <th class="logs-cell">{{tableTitle}}</th>
        {% endfor %}
      </tr>
    </thead> -->
    <tbody>
      {% for log in logs|sort(attribute=time)%}
      <tr class="logs-dorm-{{log[group]}}">
        <td class="logs-cell">{{log[time].strftime('%d.%m. %H:%M')}}</td>
        <td class="logs-cell">{{log[dorm]}}</td>
        <td class="logs-cell-points">{{log[point]}}</td>
        <td class="logs-cell-note">{{log[note]}} ({{log[professor]}})</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>